[app]
# Service URLs. Used to override service endpoints in
# Keystone's serviceCatalog.
#
# keystone = http://192.0.2.1:5000/v2.0
# tripleo = http://192.0.2.1:8585/v1
# validations = http://192.0.2.1:5001/v1
# heat = http://192.0.2.1:8004/v1/0c83443f2cea42d18d7fe58c7055bda0
# ironic = http://192.0.2.1:6385
# glance = http://192.0.2.1:9292
# neutron = http://192.0.2.1:9696
# mistral = http://192.0.2.1:8989/v2
# swift = http://192.0.2.1:8080/v1/AUTH_cd2b924b90c24aefa0e79b384579482c
# zaqar_websocket_url = ws://192.0.2.1:9000
# zaqar_default_queue = tripleo

[service]
# debug = False
# bind_host = localhost
# bind_port = 3000
